WRASSE_MEMORY_PATH=.wrasse/memory.db
WRASSE_LLM_MODEL=openai/gpt-oss-20b
OPENROUTER_API_KEY=
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
BASE_SEPOLIA_CHAIN_ID=84532
WRASSE_ESCROW_ADDRESS=
WRASSE_KEYSTORE=.wrasse/keystores/wrasse-deployer
WRASSE_KEYSTORE_PASSWORD_FILE=.wrasse/keystore.password
WRASSE_BUYER_ADDRESS=0x30C95B7eb3E08F83992E803Be2A5AB0E0af93d22
WRASSE_PROVIDER_A_ADDRESS=0x0b920573ADf657f45Fecd9f7e48e66B5535A90C0
WRASSE_PROVIDER_B_ADDRESS=0x88570c4e54cF782c1C9DA24Eebb1E9985AAa3977
WRASSE_PROVIDER_C_ADDRESS=0x8b4C6b36C4Fe37f59F0e5a6c298dd3Ea1ad2E231
